.leftNavContainer {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: teal;
}

.basketContainer {
    height: 75%;
}

.bodyContainer {
    width: 100%;
}

.App {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
}

.saved {
    border: 2px solid black;
    height: 100%;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: transparent;
    display: flex;
    width: 20%;
    justify-content: center;
    font-size: 16px;
    margin: 5px;
    padding: 3px;
    border: 1px inset rgb(230, 228, 228);
    outline: none;
}

.btn:hover {
    background-color: rgb(197, 194, 194);
}

.btn:active {
    border-style: outset;
}

.btn:disabled:hover {
    background-color: white;
    cursor: default;
}
